<a href="https://colab.research.google.com/github/andrericardossj/desafios_python/blob/main/CursoPython_Desafios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Desafio 01

nome = input("Qual é o seu nome? ")
print("Olá {}! Prazer em te conhecer!".format(nome))

Qual é o seu nome? André
Olá André! Prazer em te conhecer!

In [ ]:
#Desafio 02 

dia = input("Qual o seu dia de nascimento? ")
mes = input("Qual o seu mês de nascimento? ")
ano = input("Qual o seu ano de nascimento? ")

print("Sua data de nascimento é: {} / {} / {}".format(dia, mes, ano))

Qual o seu dia de nascimento? 21
Qual o seu mês de nascimento? 09
Qual o seu ano de nascimento? 1995
Sua data de nascimento é: 21 / 09 / 1995

In [ ]:
#Desafio 03

var1 = int (input("Digite um número: "))
var2 = int (input("Digite outro número: "))
var3 = var1 + var2

print("A soma entre {} e {} vale: {}".format(var1,var2,var3))

Digite um número: 5
Digite outro número: 2
A soma entre 5 e 2 vale: 7

In [ ]:
#Desafio 04

n = input("Digite algo: ")
print("O tipo primitivo é:", type(n))
print("Só tem espaços?", n.isspace())
print("É um número?", n.isnumeric())
print("É alfabético?", n.isalpha())
print("É alfanúmerico?", n.isalnum())
print("Está em maiúsculas?", n.isupper())
print("Está em minúsculas?", n.islower())
print("Está capitalizada?", n.istitle())

In [ ]:
#Desafio 05 

n = int (input("Digite um valor: "))
a = n - 1
s = n + 1 

print("O antecessor é: {} \n e o sucessor é: {}".format(a,s))

Digite um valor: 5
O antecessor é: 4
 e o sucessor é: 6

In [ ]:
#Desafio 06

n = int (input("Digite um valor: "))
dobro = n * 2
triplo = n * 3 
raiz = n ** (1/2)

print("O dobro é: {}, o triplo é {}, e a raiz quadrada é {}".format(dobro, triplo, raiz))

Digite um valor: 64
O dobro é: 128, o triplo é 192, e a raiz quadrada é 8.0

In [ ]:
#Desafio 07

n1 = int (input("Digite a primeira nota: "))
n2 = int (input("Digite a segunda nota: "))
m = (n1 + n2) / 2

print("A média do aluno é: {}".format(m))

Digite a primeira nota: 8
Digite a segunda nota: 8
A média do aluno é: 8.0

In [ ]:
#Desafio 08

n = int (input("Digite o valor em metros: "))
c = n * 100
m = n * 1000

print("O valor em cm é {} e em mm é {}".format(c,m))

Digite o valor em metros: 1
O valor em cm é 100 e em mm é 1000

In [ ]:
#Desafio 09 

n = int (input("Digite um valor para a tabuada: "))
aux = 0

print("*" * 20)
print("Tabuada de {}".format(n))
print("*" * 20)

while (aux <= 10):
  print("{0} x {1} = {2}".format(n, aux, (aux * n)))
  aux = aux + 1

Digite um valor para a tabuada: 5
********************
Tabuada de 5
********************
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Desafio 10

n = float (input("Conversor de real para dolar: Digite a quantidade em reais: "))
d = n / 5.26

print("R${} em dólar é: US${:.2f}".format(n,d))

Conversor de real para dolar: Digite a quantidade em reais: 525.90
R$525.9 em dólar é: US$99.98

In [ ]:
#Desafio 11

altura = float (input("Altura da parede: "))
largura = float (input("Largura da parede: "))
area = largura * altura 
tinta = area / 2

print("A área da sua parede é {}m²".format(area))
print("Para pintar essa parede, você precisará de {}L de tinta".format(tinta))

Altura da parede: 3
Largura da parede: 2
A área da sua parede é 6.0m²
Para pintar essa parede, você precisará de 3.0L de tinta

In [ ]:
#Desafio 12 

n = float (input("Digite o preço do produto para ver o seu desconto de 5%: "))
desc = (n * 0.95)

print("O produto com desconto custa R$ {}".format(desc))

Digite o preço do produto para ver o seu desconto de 5%: 150
O produto com desconto custa R$ 142.5

In [ ]:
#Desafio 13 

n = float (input("Digite o sálario para ter reajuste de 15%: "))
desc = (n * 1.15)

print("Novo sálario é R$ {}".format(desc))

Digite o sálario para ter reajuste de 15%: 1000
Novo sálario é R$ 1150.0

In [ ]:
#Desafio 14

c = float (input("Informe a tempera em Cº: "))
f = ((9 * c) /5) + 32

print("A temperatura de {}cº corresponde a {}fº".format(c,f))

Informe a tempera em Cº: 40
A temperatura de 40.0cº corresponde a 104.0fº

In [ ]:
#Desafio 15 

dias = int (input("Quantos dias alugados? "))
km = float (input("Quantos KM rodados? "))
pago = (dias * 60) + (km * 0.15) 
print("O total a pagar é de R${:.2f}".format(pago))

Quantos dias alugados? 3
Quantos KM rodados? 350
O total a pagar é de R$232.50

In [ ]:
#Desafio 16

import math

num = float (input('Digite um número real qualquer: '))
print('O número: {} tem a parte inteira {}'.format(num, math.trunc(num)))

Digite um número real qualquer: 6.127
O número: 6.127 tem a parte inteira 6

In [ ]:
#Desafio 17

import math

co = float (input('Digite o cateto oposto: '))
ca = float (input('Digite o cateto adjacente: '))
#hi = math.sqrt((math.pow(ca,2) + math.pow(co,2)))
hi = math.hypot(co, ca)

print ('A hipotenusa vai medir {:.2f}'.format(hi))

Digite o cateto oposto: 2
Digite o cateto adjacente: 2.5
A hipotenusa vai medir 3.20

In [ ]:
#Desafio 18
import math

a = float (input('Digite um ângulo: '))
print("Seno: {:.2f}".format(math.sin(math.radians(a))))
print("Cosseno: {:.2f}".format(math.cos(math.radians(a))))
print("Tangente: {:.2f}".format(math.tan(math.radians(a))))

Digite um ângulo: 30
Seno: 0.50
Cosseno: 0.87
Tangente: 0.58

In [ ]:
#Desafio 19
import random

alunos = [] #começa com a lista vazia
i = 0 #var de auxilio
while i < 4: #condição
    aluno = str (input('Digite o nome do aluno para sortear: '))
    i = i+1 #implementação 
    alunos.append(aluno)

print('O aluno sorteado para apagar a lousa foi: {}'.format(random.choice(alunos)))

Digite o nome dos alunos para sortear: andre
Digite o nome dos alunos para sortear: ricardo
Digite o nome dos alunos para sortear: sousa
Digite o nome dos alunos para sortear: santos
O aluno sorteado para apagar a lousa foi: andre

In [ ]:
#Desafio 20
import random

alunos = [] 
i = 0 
while i < 4: 
    aluno = str (input('Digite o nome dos alunos para sortear: '))
    i = i+1  
    alunos.append(aluno)
    random.shuffle(alunos)

print('A ordem de apresentação dos alunos é: {}'.format((alunos)))

In [ ]:
#Desafio 22
nome = str (input('Digite o seu nome completo: ')).strip()
print('Seu nome todo em maiúsculo é: {}'.format(nome.upper()))
print('Seu nome todo em minúsculo é: {}'.format(nome.lower()))
print('O total de letras do seu nome é: {}'.format(len(nome.replace(' ',''))))
print('Seu primeiro nome tem {} letras'.format(len(nome.split()[0])))

Digite o seu nome completo:      Ana Maria
Seu nome todo em maiúsculo é: ANA MARIA
Seu nome todo em minúsculo é: ana maria
O total de letras do seu nome é: 8
Seu primeiro nome tem 3 letras

In [ ]:
#Desafio 23
numero = int (input('Digite um número inteiro de 0 a 9999: '))
u = numero // 1 % 10
d = numero // 10 % 10
c = numero // 100 % 10
m = numero // 1000 % 10

print('Unidade: {}'.format(u))
print('Dezena: {}'.format(d))
print('Centena: {}'.format(c))
print('Milhar: {}'.format(m))

Digite um número inteiro de 0 a 9999: 4523
Unidade: 3
Dezena: 2
Centena: 5
Milhar: 4

In [ ]:
#Desafio 24
cidade = str (input('Digite o nome da sua cidade: ')).lower()
print('A cidade começa com "Santo"? {}'.format("santo" in cidade.split()[0]))

Digite o nome da sua cidade:      Santo Amaro
A cidade começa com "Santo"? True

In [ ]:
#Desafio 25
nome = str (input('Digite o seu nome: ')).lower()
print('O seu nome tem "Silva"? {}'.format("silva" in nome.split()[:]))

In [ ]:
#Desafio 26
frase = str (input('Digite uma frase: ')).lower().strip()
print('A letra "a" aparece {} vezes na sua frase'.format(frase.count('a')))
print('A letra "a" aparece pela primeira vez na posição {}'.format(frase.find('a')+1))
print('A letra "a" aparece pela última vez na posição {}'.format(frase.rfind('a')+1))

Digite uma frase:    Arara Azul
A letra "a" aparece 4 vezes na sua frase
A letra "a" aparece pela primeira vez na posição 1
A letra "a" aparece pela última vez na posição 7

In [ ]:
#Desafio 27
nome = str (input('Digite seu nome completo: '))
print('Seu primeiro nome: {}'.format(nome.split()[0]))
print('Seu último nome: {}'.format(nome.split()[-1]))

Digite seu nome completo:        Jose Carlos ROsa Pinto JOse
Seu primeiro nome: Jose
Seu último nome: JOse

In [ ]:
#Desafio 28
import random
sorteado = random.randint(0,5)
numero = int (input('Tente adivinhar o número de 0 a 5: '))
if numero == sorteado:
  print('Você acertou!!!')
  print('O número sorteado foi: {}'.format(sorteado))
else:
  print('Você não acertou :(')
  print('O número sorteado foi: {}'.format(sorteado))

Tente adivinhar o número de 0 a 5: 3
Você acertou!!!
O número sorteado foi: 3

In [ ]:
#Desafio 29
velocidade = float (input('Qual a velocidade que você estava: '))
if velocidade > 80.0:
  print('Você estava acima do limite de velocidade e foi MULTADO.')
  print('Multa de R$7,00 por KM acima do limite. Valor total R${}'.format((velocidade - 80.0) * 7))
else:
  print('Abaixo do limite de velocidade. Você não foi multado.')

Qual a velocidade que você estava: 60
Abaixo do limite de velocidade. Você não foi multado.

In [ ]:
#Desafio 30
numero = float (input('Digite um número: '))
if numero % 2 == 0:
  print('O número que você digitou é PAR')
else:
  print('O número que você digitou é IMPAR')

Digite um número: 210
O número que você digitou é PAR

In [ ]:
#Desafio 31
viagem = float(input('Qual a distância em KM terá sua viagem: '))
if viagem < 200:
  print('O valor da sua passagem será de R$0,50 por KM')
  print('Valor total da passagem é: R${:.2f}'.format(viagem * 0.50))
else:
  print('O valor da sua passagem será de R$0,45 por KM')
  print('Valor total da passagem é: R${:.2f}'.format(viagem * 0.45))

Qual a distância em KM terá sua viagem: 500
O valor da sua passagem será de R$0,45 por KM
Valor total da passagem é: R$225.00

In [ ]:
#Desafio 32
ano = int(input('Digite um ano: '))
if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    print("Ano Bissexto")
else:
    print("Não é um ano Bissexto!")

Digite um ano: 2016
Ano Bissexto

In [ ]:
#Desafio 33 
a = int (input('Digite um número: '))
b = int (input('Digite um número: '))
c = int (input('Digite um número: '))

menor = a
if b < a and b < c:
  menor = b
if c < a and c < b:
  menor = c 

maior = a
if b > a and b > c:
  maior = b
if c > a and c > b:
  maior = c 

print('O menor valor é: {}'.format(menor))
print('O maior valor é: {}'.format(maior))

Digite um número: 10
Digite um número: 2
Digite um número: 8
O menor valor é: 2
O maior valor é: 10

In [ ]:
#Desafio 34
salario = float (input('Digite o seu salário: '))
if salario > 1250:
  print('Você terá um aumento de 10%')
  print('Seu salário é: R${:.2f}'.format(salario * 1.10))
else: 
  print('Você terá um aumento de 15%')
  print('Seu salário é: R${:.2f}'.format(salario * 1.15))

Digite o seu salário: 1500
Você terá um aumento de 10%
Seu salário é: R$1650.00

In [ ]:
#Desafio 35
print('-='*20)
print('Analisador de Triângulos')
print('-='*20)

r1 = float (input('Primeiro segmento: '))
r2 = float (input('Segundo segmento: '))
r3 = float (input('Terceiro segmento: '))

if r1 < r2 + r3 and r2 < r1 + r3 and r3 < r1 + r2:
  print('Os segmentos acima podem formar um triângulo!')
else:
  print('Os segmentos acima não podem formar um triângulo!')

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Analisador de Triângulos
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Primeiro segmento: 3
Segundo segmento: 3
Terceiro segmento: 3
Os segmentos acima podem formar um triângulo!

In [ ]:
print('\033[32mOlá mundo!\033[m')

Olá mundo!